.btndelete {
    border-radius: 5px;
    margin-left: 10px;
    background-color: lemonchiffon;
}



.btndelete:hover,
.btndelete:focus {
    background-color: blue;
    background-color: rgb(162, 162, 227);
}